{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'favourites/css/favourites.css' %}">
{% endblock%}

<!-- Shopping Bag Page -->

{% block extra_title %} - Favourites {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container lato">
    <h2 class="text-center mb-3  text-white bg-danger p-2 rounded" >My Favourites</h2> 
    <div class="text-center">
    <a href="{% url 'home' %}" class="btn text-uppercase font-weight-bold schoolbell bg-warning  ">Back to Home</a>
    </div>
    <div class="row">
        <!-- Product Cards Column -->
        <div class="col-lg-12 my-3 ">
            {% if favourites %}
                {% for favourite in favourites %}
                    <div class="card mb-3">
                        <div class="row  no-gutters">
                            {% if favourite.product.image %}
                            <div class="col-md-4">
                                <img src="{{ favourite.product.image.url }}" class="card-img" alt="Product Image">
                            </div>
                            {% else %}
                            <div class="col-md-4">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}placeholder.avif" alt="{{ product.name }} ">
                            </div>
                        {% endif %}
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title p-1 text-center rounded">{{ favourite.product.name }}</h3>
                                    <p class="card-text font-weight-bold">Price: €{{ favourite.product.price }}</p>
                                    {% if favourite.product.in_stock %}
                                            <p class="text-danger font-weight-bold" ><i class="mr-1 fa-solid fa-check"></i> In Stock</p>
                                        {% else %}
                                            <p class="text-black font-weight-bold"><i class="mr-1 fa-solid fa-xmark"></i>Out of Stock</p>
                                        {% endif %}
                                   <!-- Remove Button Form -->
                                   <div>
                                    <form class="form " method="POST" action="{% url 'remove_favourite' favourite.product.id %}">
                                        {% csrf_token %}
                                        <div class="text-center ">
                                                <input  class="btn btn-danger card-button text-uppercase" type="submit" value="Remove">
                                     </div>
                                </form>
                                <form class="form" action="{% url 'add_to_bag' favourite.product.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1" >
                                    <div class="text-center my-2">
                                        <input class="btn card-button btn-warning fa-input text-center rounded text-uppercase" type="submit" value="Add to Bag"  {% if not favourite.product.in_stock %}disabled{% endif %}>
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                   
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-12 text-center mt-2">
                    <p>Looks like you haven't added anything to your Favorutites.</p>
                    <p>Click below to continue shopping.</p>
                    <a href="{% url 'products' %}" class="btn btn-warning">Find More Products</a>
                    </div>
                    {% endif %}
             </div>
</div>
</div>

{% endblock content %}
