{% extends "base.html" %}
{% load static %}


<!-- Shopping Bag Page -->

{% block extra_title %} - Favourites {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container ">
    <div class="row">
        <!-- Product Cards Column -->
        <div class="col-lg-8">
            {% if favourites %}
                {% for favourite in favourites %}
                    <div class="card mb-3">
                        <div class="row  no-gutters">
                            <div class="col-md-4">
                                <img src="{{ favourite.product.image.url }}" class="card-img" alt="Product Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title p-1 text-center rounded">{{ favourite.product.name }}</h3>
                                    <p class="card-text font-weight-bold">Price: €{{ favourite.product.price }}</p>
                                   <!-- Remove Button Form -->
                                    <form class="form " method="POST" action="">
                                        {% csrf_token %}
                                        <div class="text-center ">
                                                <input  class="btn btn-danger card-button text-uppercase" type="submit" value="Remove">
                                     </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-12 text-center mt-2">
                    <h3>Empty Bag!</h3>
                    <p>Looks like you haven't added anything to your Favorutites.</p>
                    <p>Click below to continue shopping.</p>
                    <a href="{% url 'products' %}" class="btn btn-warning">Find More Products</a>
                    </div>
                    {% endif %}
             </div>

{% endblock content %}
