{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="background-image  d-flex align-items-center justify-content-center">
            <div class="main-message text-center border rounded p-3">
           <h3 >Find Your New Favorite Toy</h3>
           <button class="mt-3 btn btn-danger" aria-label="shop now button">SHOP NOW !</button>
           </div>
    </div>
</div>
<div class="features-div my-3 row col-12  d-flex  justify-content-between align-items-center">
    <div class="features col-12 col-md-4 d-flex  justify-content-center flex-column align-items-center">
    <div><i class="banner-icon text-success fa-solid fa-truck"></i></div>
  <p class="text-center"><strong>Free shipping</strong><br>
        On all orders over $50</p>
    </div>
    <div class="features col-12 col-md-4  d-flex  justify-content-center flex-column align-items-center">
        <div><i class="banner-icon text-success    fa-regular fa-thumbs-up"></i></div>
      <p class="text-center"><strong>Satisfaction Guarantee</strong><br>
        30 days money back guarantee</p>
        </div>
        <div class="features col-12 col-md-4 d-flex  justify-content-center flex-column align-items-center">
            <div><i class="banner-icon text-success  fa-solid fa-credit-card"></i></div>
          <p class="text-center"><strong>Payment Method</strong><br>
            Secure checkout with Stripe</p>
            </div>
</div>
<div iclass="row ">
    <div  id="about" class="about-image d-flex justify-content-center align-items-center">
        <div class="about-text rounded-circle text-white p-4 text-center ">
        <h4 class="text-warning">About us </h4>
        <p class="text-white text-bold">Our shop provide high-quality  toys <br>for versatile development of your kids.<br>
             We are working on producing useful items.<br> Let’s make life our kids brighter together! </p>
        </div>
    </div>
    <div class="features-div  my-3 row col-12  d-flex  justify-content-between align-items-center">
        <div class="col-md-6 col-lg-3 d-flex  justify-content-center flex-column align-items-center">
        <div class="rounded-circle"><img class="age-img img rounded-circle" src="media/baby.jpg" alt="baby image "></div>
        <button class="text-bold age-btn m-2 btn btn-success" aria-label="link to up to 1 years toys">Up to 1 Year</button>
        </div>
        <div class="col-md-6 col-lg-3 d-flex  justify-content-center flex-column align-items-center">
            <div class="rounded-circle"><img class="age-img img rounded-circle" src="media/two.jpg" alt="picture of 2 years old child"></div>
            <button class="age-btn m-2 btn btn-primary" aria-label="link  to 1-2 years toys">1-2 Years</button>
            </div>
            <div class="col-md-6 col-lg-3 d-flex  justify-content-center flex-column align-items-center">
                <div class="rounded-circle"><img class="age-img rounded-circle" src="media/three.jpg" alt="picture of 3 years old child"></div>
                <button class="age-btn m-2 btn btn-warning" aria-label="link to 2-3 years toys">2-3 Years</button>
                </div>
                <div class="col-md-6 col-lg-3 d-flex  justify-content-center flex-column align-items-center">
                    <div class="rounded-circle"><img class="age-img img rounded-circle" src="media/four.jpg" alt="picture of 4 years old child"></div>
                    <button class="age-btn m-2 btn btn-danger" aria-label="link to 3+ years toys">3+ Years</button>
                    </div>
                    </div>
    </div>
</div>
{% endblock %}