{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="background-image d-flex align-items-center justify-content-center">
            <div class="main-message text-center border rounded p-3">
           <h3 >Find Your New Favorite Toy</h3>
           <button class="mt-3 btn btn-danger">SHOP NOW !</button>
           </div>
    </div>
</div>
<div class="my-3 row col-12  d-flex  justify-content-between">
    <div class="text-center">
    <div><i class="banner-icon text-warning mr-1 fa-solid fa-truck"></i></div>
  <p><strong>Free shipping</strong><br>
        On all orders over $50</p>
    </div>
    <div class="text-center">
        <div><i class="banner-icon text-warning mr-1 fa-solid fa-truck"></i></div>
      <p><strong>Free shipping</strong><br>
            On all orders over $50</p>
        </div>
        <div class="text-center">
            <div><i class="banner-icon text-warning mr-1 fa-solid fa-truck"></i></div>
          <p><strong>Free shipping</strong><br>
                On all orders over $50</p>
            </div>
  
    
</div>
</div>
{% endblock %}