{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock%}




<!-- Checkout Page -->

{% block extra_title %} - checkout {% endblock %}


{% block content %}
<div class="container-fluid lato ">
    <div class="col text-center ">
        <h2 class="text-dark font-weight-bold text-white mb-5 text-uppercase ">My profile</h2>
    </div>
   

    <div class="row">
        <!-- Product Cards Column -->
        <div class="col-lg-6 mx-auto">
            <h3 class="text-center bg-danger  rounded text-light mb-3 ">My order History</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="text-black font-weight-bold">Order Number:</td>
                        <td>{{ order.order_number }}</td>
                    </tr>
                    <tr>
                        <td class="text-black font-weight-bold">Order Date:</td>
                        <td>{{ order.date}}</td>
                    </tr>
                    <tr>
                        <td class="text-black font-weight-bold">Order Total:</td>
                        <td>{{ order.grand_total }}</td>
                    </tr>
                   
                
                </tbody>
            </table>
        <!-- <div class="col-lg-6 "> -->
            <p>Delivery Details</p>
           
            <form action="{%url 'profile'%}" method="post">
                        
                {% csrf_token %}
                {{form|crispy}}

                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-warning border border-dark px-5 ml-3 mt-3">Update details</button>
                </div>

                <p class="small text-danger my-2 text-center">

                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Warning by clicking "Update Details" your informartion will be over written</span>

                </p>

                
            </form>
</div>
</div>

</div>

{% endblock content %}





