{% extends 'base.html' %}
 {% load static %}  
 
 {% block extra_css %}
<link rel="stylesheet" href="{% static 'testimonials/css/testimonials.css' %}">
{% endblock%}

{% block extra_title %} - Testimonials {% endblock %}

{% block content %}
 <!-- Testimonials page" -->
<div class="container-fluid lato">
    <h2 class="text-center mb-3 ">What Our Clients Think</h2>
    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner mb-5 ">
            {% for testimonial in testimonials %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <div class="row justify-content-center">
                    <div class="col-md-4 text-center rounded mx-auto">
                        <div class="card mb-4 shadow-lg p-0 ">
                            <div class="card-body">
                                <div class="testimonial-avatar">
                                    {% if "placeholder" in testimonial.featured_image.url %}
                                    <img src="{% static 'images/placeholder.jpg' %}" class="img-fluid rounded-circle" alt="placeholder image">
                                    {% else %}
                                    <img src="{{ testimonial.featured_image.url | safe }}" class="img-fluid rounded-circle" alt="{{ testimonial.name }}" crossorigin="anonymous">
                                    {% endif %}
                                </div>
                                <div class="testimonial-text mb-3 ">
                                    <p class="testimonial-name">{{ testimonial.name }}</p>
                                    <p class="testimonial-profession">{{ testimonial.profession }}</p>
                                    <p class="font-weight-bold">{{ testimonial.testimonial |safe  }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev " href="#testimonial-carousel" role="button" data-slide="prev" aria-label="previous">
            <span class="sr-only">Previous</span>
        </span><i class="testimonial-icon fa-solid fa-backward font-weight-bold mr-3 text-dark  "></i></span>
        </a>
        <a class="carousel-control-next " href="#testimonial-carousel" role="button" data-slide="next" aria-label="next">
            <span class="sr-only">Next</span>
        </span><i class="testimonial-icon ml-3 fa-solid fa-forward font-weight-bold text-dark "></i></span>
        </a>
    </div>
</div>

{% endblock content %}

{% block postloadjs %}
{{ block.super }}
<script defer>
   document.addEventListener('keydown', function(event) {
        if (event.key === 'Arrowleft') {
            $('#testimonial-carousel').carousel('prev');
        } else if (event.key === 'ArrowRight') {
            $('#testimonial-carousel').carousel('next');
        }
    });
</script>
{% endblock %}

