{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

<!-- Checkout Success Page -->

{% block extra_title %} - Order Complete{% endblock %}

{% block content %}
<div class="basket-bg container">
    
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h1 class="text-center"><span class="sr-only">Check Icon</span><i class="fa-solid fa-thumbs-up"></i></h1>
            <h2>Your Order Complete!</h2>
            <p>A confirmation email has been sent to {{ order.email }}</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="p-2  email-conf">
               <div class="table-responsive">
                <h3 class="text-center mb-4">Order Details</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="text-black font-weight-bold">Order Number:</td>
                            <td>{{ order.order_number }}</td>
                        </tr>
                        <tr>
                            <td class="text-black font-weight-bold">Order Status:</td>
                            <td>{{ order.order_status}}</td>
                        </tr>
                        <tr>
                            <td class="text-black font-weight-bold">Order Date:</td>
                            <td>{{ order.date }}</td>
                        </tr>
                        {% for item in order.lineitems.all %}
                        <tr>
                            <td colspan="2">
                                <div>
                                    <div class="mr-3 text-center">
                                        {% if item.product.image %}
                                            <img src="{{ item.product.image.url }}" alt="image of {{ item.product.name }}" class="success-img">
                                        {% else %}
                                            <img src="{{ MEDIA_URL }}placeholder.avih" alt="No image available for {{ item.product.name }}" class="w-50">
                                        {% endif %}
                                    </div>
                                    <div>
                                        <h3 class="mb-0 font-weight-bold text-center">{{ item.product.name }}</h3>
                                        <p class="mb-0  text-center">Quantity:<span> {{ item.quantity }}</span></p>
                                        <p class="mb-0 text-center ">Price:  <span>€{{ item.product.price }}</span></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="text-black font-weight-bold">Full<br> Name</td>
                            <td>{{ order.full_name }}</td>
                        </tr>
                        <tr>
                            <td class="text-black font-weight-bold">Address</td>
                            <td>{{ order.street_address1 }}, {% if order.street_address2 %}{{ order.street_address2 }}, {% endif %}{{ order.town_or_city }}, {{ order.county }}, {{ order.country }}</td>
                        </tr>
                        <tr>
                            <td class="text-black font-weight-bold">Phone</td>
                            <td>{{ order.phone_number }}</td>
                        </tr>
                        <tr>
                            <td class="text-black font-weight-bold">Total</td>
                            <td>€{{ order.order_total }}</td>
                        </tr>
                        <tr>
                            <td class="text-black font-weight-bold">Delivery</td>
                            <td>€{{ order.shipping_cost }}</td>
                        </tr>
                        
                        <tr>
                            <td class="text-black font-weight-bold">Shipping<br> Method</td>
                            <td>{{ order.shipping_method }}</td>
                        </tr>
                        <tr>
                            <td class="text-black font-weight-bold">Grand <br>Total</td>
                            <td>€{{ order.grand_total }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 text-center">
            {% if from_profile %}
                <a href="{% url 'profile' %}" class="btn btn-primary mb-3 ">Return to  My Profile</a>
            {% else %}
                <a href="{% url 'home' %}" class="btn btn-danger mb-3 ">Back to Home</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}