{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock%}




<!-- Shopping Bag Page -->

{% block extra_title %} - checkout {% endblock %}

<!-- {% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} -->

{% block content %}
<div class="container-fluid ">
    <div class="col text-center ">
        <h2 class="bg-primary text-white mb-5 text-uppercase ">Chekout</h2>
    </div>
   

    <div class="row">
        <!-- Product Cards Column -->
        <div class="col-lg-4">
            {% if bag_items %}
                {% for item in bag_items %}
                    <div class="card mb-3">
                        <div class="row  no-gutters">
                            <div class="col-md-4">
                                <img src="{{ item.product.image.url }}" class="card-img" alt="Product Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title bg-primary text-white p-1 text-center rounded">{{ item.product.name }}</h3>
                                    <p class="card-text font-weight-bold">Price: €{{ item.product.price }}</p>
                                    <p class="card-text font-weight-bold">Quantity:{{ item.quantity }}</p>
                                    
                                    <!-- Quantity Selection Form -->
                                    
                                    <!-- Remove Button Form -->
                                  
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <!-- <div class="col-12 text-center mt-2">
                    <h3>Empty Bag!</h3>
                    <p>Looks like you haven't added anything to your bag.</p>
                    <p>Click below to continue shopping.</p>
                    <a href="{% url 'products' %}" class="btn btn-warning">Find More Products</a>
                    </div> -->
                    {% endif %}
             </div>
             <div class="col-lg-5">
                <form class="form " method="POST" action="{% url 'checkout'%}" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label ">Your Details</legend>
                        {{ checkout_form.full_name | as_crispy_field }}
                        {{ checkout_form.email | as_crispy_field }}
                        {{ checkout_form.phone_number | as_crispy_field }}

                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label ">Your Address</legend>
                        {{ checkout_form.country | as_crispy_field }}
                        {{ checkout_form.town_or_city | as_crispy_field }}
                        {{ checkout_form.county | as_crispy_field }}
                        {{ checkout_form.street_address1 | as_crispy_field }}
                        {{ checkout_form.street_address2 | as_crispy_field }}
                        {{ checkout_form.postcode| as_crispy_field }}
                        <div class="float-right mr-0">
                            {% if user.is_authenticated %}
                            <label for="id-save-info">Save this delivery
                                information to my profile</label>
                            <input class="ml-2 mr-0" type="checkbox" id="id-save-info"
                                name="save-info" checked>
                            {% else %}
                            <label  for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a>
                                or
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this
                                information
                            </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <p class="px-3">Please Enter your card details and press 'Submit Order' to complete your order...</p>
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label">Card Details</legend>
                        <!-- for stripe payment -->
                    </fieldset>

            </form>
            <div class="text-center text-lg-right my-2">
                <button form="payment-form" id="submit-button" class="btn btn-success">
                    <span><i class="fas fa-lock"></i> Submit Order</span>
                </button>
            </div>
            <div class="text-center text-lg-right my-2">
                <a href="{% url 'products' %}" class="btn btn-danger text-center rounded-0 mt-2">
                    <span class="icon"><i class="fa-solid fa-circle-arrow-left"></i></span>
                    <span class="text-uppercase ">Back to shopping</span>
                </a>
            </div>
            <div class="text-center text-lg-right my-3">
                <p class="small text-danger mr-2">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Your credit/debit card will be charged
                        <strong>€{{ grand_total|floatformat:2 }}</strong></span>
                </p>
            </div>
                 </div>

        <!-- Bag Summary Column -->
        <div class="col-lg-3">
            <div class="col-sm-12 col-md-12 col-lg-12 bg-white rounded text-center bag-summary-card mb-3  pt-2">
              
                <div class="text-center">
                    <h3 class="bg-primary text-white rounded py-2 ">Summery</h3>
                </div>
                <div class="row pt-4 mt-2">
                    <div class="col text-left">
                        <p><strong>Items:</strong></p>
                    </div>
                    <div class="col text-right">
                        <span>{{ count }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <p><strong>Sub-total:</strong></p>
                    </div>
                    <div class="col text-right">
                        <span>€{{ total |floatformat:2 }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <p><strong>Delivery:</strong></p>
                    </div>
                    <div class="col text-right">
                        <span>€{{ shipping|floatformat:2 }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <p><strong>Total:</strong></p>
                    </div>
                    <div class="col text-right">
                        <span>{{ grand_total|floatformat:2 }}</span>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
{% endblock content %}



