{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock%}




<!-- Shopping Bag Page -->

{% block extra_title %} - checkout {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-luid ">
    <div class="row">
        <!-- Product Cards Column -->
        <div class="col-lg-4">
            {% if bag_items %}
                {% for item in bag_items %}
                    <div class="card mb-3">
                        <div class="row  no-gutters">
                            <div class="col-md-4">
                                <img src="{{ item.product.image.url }}" class="card-img" alt="Product Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title p-1 text-center rounded">{{ item.product.name }}</h3>
                                    <p class="card-text font-weight-bold">Price: €{{ item.product.price }}</p>
                                    <p class="card-text font-weight-bold">Quantity:{{ item.quantity }}</p>
                                    
                                    <!-- Quantity Selection Form -->
                                    
                                    <!-- Remove Button Form -->
                                  
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-12 text-center mt-2">
                    <h3>Empty Bag!</h3>
                    <p>Looks like you haven't added anything to your bag.</p>
                    <p>Click below to continue shopping.</p>
                    <a href="{% url 'products' %}" class="btn btn-warning">Find More Products</a>
                    </div>
                    {% endif %}
             </div>
             <div class="col-lg-6">
                <form class="form " method="POST" action="{% url 'checkout '%}" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small">Your Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}

                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small">Your Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}

                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small">Your Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}

                    </fieldset>
            </form>
                 </div>

        <!-- Bag Summary Column -->
        <div class="col-lg-2">
            <div class="col-sm-12 col-md-12 col-lg-12 bg-white rounded text-center bag-summary-card mb-3  pt-2">
              
                <div class="text-center">
                    <h3 class="bg-danger rounded py-2">Shopping  Report</h3>
                </div>
                <div class="row pt-4 mt-2">
                    <div class="col text-left">
                        <p><strong>Items:</strong></p>
                    </div>
                    <div class="col text-right">
                        <span>{{ count }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <p><strong>Sub-total:</strong></p>
                    </div>
                    <div class="col text-right">
                        <span>€{{ total |floatformat:2 }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <p><strong>Delivery:</strong></p>
                    </div>
                    <div class="col text-right">
                        <span>€{{ shipping|floatformat:2 }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <p><strong>Total:</strong></p>
                    </div>
                    <div class="col text-right">
                        <span>{{ grand_total|floatformat:2 }}</span>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
{% endblock content %}



