html {
  scroll-behavior: smooth;
}
/* fonts */
.schoolbell{
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

.lato{
  font-family:'lato',sans-serif;
  font-weight:600;
}

.bangers{
  font-family:'Bangers', Cursive;
}

/* colors */
.orange{
    color:#ff7845;
}
.yellow{
    color:#fca311;
}

/* Home Page */
/* give styles and add images to body */
body{
  background-color:#f1faee;
  padding-top:250px;

}

.background-image{
    background-image:url('/media/background-image.avif') ;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width:100vw;
    height:70vh;
    animation: zoomIn 2s ease forwards;
   } 

.about-image{
  background-image:url('/media/about.avif');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  min-height: calc(100vh - 350px);
 } 

/*  give styles to header section */
.mobile-nav{
  display:contents;
}

 .form-control{
    box-shadow: none;
    outline: none;
    background-color:#f0f8ff ;
  }
  
  .form-control:focus{
    box-shadow: none;
    background-color: #ffff;
  }
  .list-inline-item{
    font-size:18px;
  }
  .main-nav-navigation{
    font-size:22px;
    letter-spacing:1.5px;
  }
  .logo{
    font-size:40px;
   }
  .logo-mobile{
    font-size:40px;
  }

  .icon-mobile{
    font-size:24px;
  }

  .special-offer:hover{
    color:red !important;
  }

  .main-message{
    background-color:#f5ebe0;
    color:black;
  }

  .banner-icon{
    font-size:37px;
  }
/* give style to home page sections */
  .features{
    width:220px;
  }
  .about-text{
    background-color: #008000;
  }
  
.age-btn{
  width:150px;
  text-align: center;
  color:black;
}

.age-img{
  width:217px;
  height:100%;
}

/* give styles to footer */

.social-icon{
  font-size:37px;
  color:#fca311;
}

.footer-link{
  text-transform: uppercase;
}

.footer-link:hover{
  background-color:#ff7845;
  text-decoration: none;
}

.announcement-bar,.footer-bottom, .card-title{
  background-color:#00bbf9;
}

header,footer{
  background-color: #003049;
}

/* give styles to all products page */
.price{
  font-size:22px;
}

.product-card{
background-color: #023047;
}
.sale-mark {
  position: absolute;
  top:-15px;
  right:-7px;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
}


.btn-div{
  height:100px;
}

.bag-summary-card{
  height:400px;
}

.card-button{
  width:200px;
}



