{% extends 'base.html'%}

{% block content %}
<div class="server-error-container fill-screen container py-5 my-5 bg-white">
    <div class="bellow-nav bg-white">
            <h2 class="bg-primary text-center">500 - Server Error</h2>
            <p class="font-weight-bold text-dark text-center">Something went wrong on our end. Please try again later.</p>
            <button onclick="window.history.back();" class="btn btn-danger text-white mx-auto " type="text-centerbutton">Go Back</button>
    </div>
</div>




{% endblock %}