<div class="container-fluid">
    <div class="row  justify-content-around">
 <div class="lato col-lg-4 col-md-6 text-center text-dark"> 
    <h2 class="bangers yellow logo my-0">Kiddie<i class=" m-3 text-danger fa-brands fa-earlybirds"></i>Corner</h2>
    <p>4 Vakhushti street </p>
    <p>Dublin, Ireland </p>
    <p>Phone: <span>+99517383848</span></p>
    <p>Email: <span>tamariam@gmail.com</span></p>
    <div>
      <a  href="https://www.facebook.com" target="_blank" aria-label="facebook link">
          <i class="mx-3 social-icon fab fa-facebook-square ms-3"></i>
      </a>
      </div>
</div>
<div class="mt-2 col-lg-4 col-md-6  text-center text-white"> 

    <p class="purpose mt-2 text-center text-dark">This site was created for assessment purposes only!</p>
  </div>
<div class="col-lg-4 col-md-12 text-white"> 
    <div class="d-flex flex-column align-items-center pb-2 ">
        <h3 class="yellow bangers p-2"> Site Map </h3>
    <a class="px-2 footer-link  lato text-dark" href="{url 'home'}" aria-label="link to home page">Home</a>
    <a class="px-2 footer-link text-dark  lato mt-3" href="{url 'home'}" aria-label="link to home page">About</a>
    <a class="px-2 footer-link text-dark  lato mt-3"  href="{url 'home'}" aria-label="link to home page">Webstore</a>
    <a class="px-2 footer-link text-danger  lato mt-3"  href="{url 'home'}" aria-label="link to home page">Special Offers</a>
    <a class="px-2 footer-link text-dark  lato mt-3"  href="{url 'home'}" aria-label="link to home page">Privacy Policy</a>
    <a class="px-2 footer-link text-dark  lato  mt-3"  href="{url 'home'}" aria-label="link to home page">Terms & Conditions</a>
    </div>
    </div>
  
</div>
<div class="p-2 row d-flex flex-column justify-content-center align-items-center bg-primary">
    <p class="text-white lato">&copy; Sopiko Abulidze 2024 </p>
    <div>
    <a
    href="https://www.linkedin.com/in/sopiko-abulidze-69a563251/"
    target="_blank"
    aria-label="my linkdin url opens in new window"
  >
    <i class="social-icon fa-brands fa-linkedin"></i
  ></a>
  <a
    href="https://github.com/tamariam?tab=repositories"
    target="_blank"
    aria-label="my github url opens  in new window"
  >
    <i class="social-icon fa-brands fa-github"></i
  ></a>
</div>
</div>
</div>
