<div class="collapse navbar-collapse" id="main-nav">
  <ul class="bangers navbar-nav mr-auto main-nav-navigation">
    <li class="nav-item active">
      <a class="orange nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="orange nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
      <a class="orange nav-link" href="{% url 'products' %}">All Products</a>
    </li>
    <li class="nav-item dropdown">
      <a class="orange nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
        Shop By Age
      </a>
      <div class="dropdown-menu bg-dark ">
        <a class="dropdown-item text-warning" href="#">Up to 1 Year</a>
        <a class="dropdown-item text-warning" href="#">1-2 Years</a>
        <a class="dropdown-item text-warning" href="#">2-3 Years</a>
        <a class="dropdown-item text-warning " href="#">3 + Years</a>
</div>
    </li>
    <li class="nav-item">
        <a class="special-offer nav-link text-white" href="#">Special Offer</a>
      </li>
  </ul>
</div>
</nav>