
        <li class=" col-2 list-inline-item dropdown d-block d-lg-none">
            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                </div>
            <div>
            <li class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </li>
        </li>
        <li class="col-2 text-center list-inline-item d-block d-lg-none">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2><i class="fa-brands fa-earlybirds"></i></h2>
            </a>
        </li>
        <li class="col-2 list-inline-item dropdown d-block d-lg-none">
            <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-center">
                    <div><i class="fa-solid fa-heart icon "></i></div>
                 
                </div>
            </a>
            <div class="dropdown-menu border-0">
                {% if request.user.is_authenticated %}
                <a href="{% url 'user_wishlist' %}" class="dropdown-item">Manage Wishlist</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="col-2 list-inline-item d-block d-lg-none ">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                </div>
            </a>
        </li>
<div class="col-10 mt-3 mx-auto col-md-10 col-lg-4  py-1 py-lg-0 d-block d-lg-none">
    <form method="GET" action="">
        <div class="input-group w-100">
            <input class="form-control border-rounded-2" type="text" name="q" placeholder="Search">
            <div class="input-group-append">
                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>

    