.submit-btn{
    width:195px;
}

#payment-form .form-control {
    color: #000;
    background-color: white;
}

 .stripe-style, select{
    border-radius: 0px!important;
    margin-bottom: 6px!important;
    border: 1px solid #000!important;
    height: 44px!important;
    font-size: 16px!important;
    width: 100%!important;
    background: white!important;
}

.stripe-style:focus,
.stripe-style:active, {
  box-shadow: 0 1px 3px 0 red;
}

select option {
    color: #000;
}
 
 #payment-element {
    border-radius: 0;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    height: 44px;
    width: 100%;
} 
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table td {
    word-wrap: break-word; /* Ensures long words break to fit within the cell */
    word-break: break-all; /* Ensures long words break to fit within the cell */
    overflow-wrap: break-word; 
}

.success-img{
    width:50%;
    height:auto;
}