{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock%}

<!-- Contact Page -->

{% block extra_title %} - Contact {% endblock %}

{% block content %}

<div class="container-fluid lato ">
    <div class="col text-center ">
        <h2 class="text-white bg-primary mb-5 rounded ">Your Enquiry</h2>
    </div>
   <div class="row">
        <!-- Product Cards Column -->
             <div class="col-lg-6 mx-auto ">
                <form class="form " method="POST" action="{% url 'contact_page'%}" id="contact-form" name="contact-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-2">
                        {{ form.name | as_crispy_field }}
                        {{ form.email | as_crispy_field }}
                        {{form.subject| as_crispy_field}}
                        {{form.message| as_crispy_field}}
                      </fieldset>
            </form>
            <div class="d-flex justify-content-around  my-3" >
            <div class="text-center ">
                <button onclick="window.history.back();" class="btn btn-danger rounded contact-btn font-weight-bold " type="button" id="go-back">Go Back</button>
            </div>
            <div class="text-center ">
                <button form="contact-form" id="submit-contact-form" class="btn btn-warning font-weight-bold  rounded contact-btn">
                    <span> Send Message</span>
                </button>
            </div>
            </div>
            </div>
            </div>
</div>

{% endblock content %}





