{%extends 'base.html'%}

{% block extra_title %} - Add Product {% endblock %}
{% block content %}

<div class="container-fluid lato ">
    <div class="col text-center ">
        <h2 class="main-header text-white bg-primary mb-5 rounded ">Add Product</h2>
    </div>
   <div class="row">
    <div class="col-lg-6 mx-auto ">
<form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="text-center my-3">
        <a class="btn btn-danger" href="{% url 'products' %}">Cancel</a>
        <button class="btn btn-warning" type="submit">Add Product</button>
    </div>
</form>
</div>
</div>
</div>
{% endblock %}