{% extends "base.html" %}
{% load static %}
 


{% block extra_title %} -{{ product.name }}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container lato">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 mx-auto  pb-3">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank" aria_label="prodduct-image">
                            <img class="card-img-top img-fluid " src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}placeholder.avif" alt="{{ product.name }} ">
                        </a>
                    {% endif %}
                
                {% if product.in_stock %}
                <div class="row btn-div  d-flex  justify-content-around align-items-center  my-3 ">
                    <a class="btn btn-warning btn-pill text-dark font-weight-bold" href="{% url 'products' %}"><i class="mr-1 fa-solid fa-magnifying-glass"></i>More Products</a>
                    <a class="btn btn-outline-dark" href="{% url 'add_to_favourite' product.id %}"><i class="mr-1 fa-solid fa-heart-circle-plus"></i>add to Favourites</a>
                    </div>
                {% else %}
                <div class="btn-div row d-flex  justify-content-around   align-items-center">
                    <a class="btn btn-warning text-dark font-weight-bold " href="{% url 'products' %}"><i class="mr-1 fa-solid fa-magnifying-glass"></i>More Products</a>
                    <a class="btn btn-outline-dark" href="{% url 'add_to_favourite' product.id %}"><i class="mr-1 fa-solid fa-heart-circle-plus"></i>add to Favourites</a>
                    </div>
                    {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-3">
                <div class="">
                    <h2 class="text-white bg-dark text-center ">{{ product.name }}</h2>
                    <p class="lead mb-0  font-weight-bold text-center bg-danger">Price: £{{ product.price }}</p>
                    
                    <p >sku: {{ product.sku }}</p>
                     
                    {% if product.rating %}
                        <p class="bg-dark text-white"><i class="fas fa-star mr-1 text-warning "></i>  Costumer rating:   <span class="mx-2 text-warning font-weight-bold">{{ product.rating }} / 5</span></p>
                    {% else %}
                    <p class="bg-dark text-white"><i class="fas fa-star mr-1 text-warning "></i>Costumer rating: <span class="mx-2 text-warning font-weight-bold"> 0 / 5</span></p>
                    {% endif %}
                    <!-- Allows staff to edit and delete items -->
                    {% if user.is_superuser %}

                    <div class="text-center">

                        <a class="m-3 btn btn-link text-blue " href="{% url 'edit_product' product.id %}" aria-label="edit product">Edit</a>  |  
                        <a class="btn btn-link text-danger m-3 " href="{% url 'delete_product' product.id %}" aria-label="delete product">Delete</a>
                    
                    </div>

                    {% endif %}
                    <!-- quantity -->
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <label for="quantity" class="mt-2 pl-2"><strong>Quantity:</strong></label>
                                <div class="text-center">
                                    <div class="form-group detail-form-selector">
                                        <div class="input-group-selector rounded-0 text-lg-left">
                                            <select id="quantity" class="form-control custom-select" name="quantity" {% if not product.in_stock %}disabled{% endif %}>
                                                {% if not product.in_stock %}
                                                    <!-- Display "Out of Stock" text as the default disabled option -->
                                                    <option disabled selected>Out of Stock</option>
                                                {% else %}
                                                    <!-- Render options 1 to 10 when product is in stock -->
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if product.in_stock %}
                        <div class="text-center my-2 ">
                            <input class="btn btn-danger fa-input  text-center rounded text-uppercase "
                                type="submit" value="add to bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endif %}
                    </form>
                        
<h3 class="text-center ">Product description</h3>
                    <div class="bg-danger text-white p-2 rounded" >
                        
                    <p class="mt-3">{{ product.description }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}