{% extends "base.html" %}
{% load static %}
 
{% block extra_title %} - {{ product.name }}{% endblock %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 mx-auto pb-3 ">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank" aria_label="prodduct-image">
                            <img class="card-img-top img-fluid " src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}placeholder.jpg" alt="{{ product.name }} ">
                        </a>
                    {% endif %}
                
                {% if product.in_stock %}
                <div class="row btn-div  d-flex  justify-content-around align-items-center p-2 my-3">
                    <a class="btn btn-outline-primary btn-pill " href="{% url 'products' %}"><i class="mr-1 fa-solid fa-magnifying-glass"></i>Find More Products</a>
                    <a class="btn btn-outline-dark" href=""><i class="mr-1 fa-solid fa-heart-circle-plus"></i>add to wishlist</a>
                    <a class="btn btn-outline-success" href=""><i class="mr-1 fa-solid fa-cart-plus"></i>add To cart</a>
                    </div>
                {% else %}
                <div class="btn-div row d-flex  justify-content-center  mb-5 ">
                    <a class="bg-white btn btn-outline-primary btn-pill" href="{% url 'products' %}"><i class="mr-1 fa-solid fa-magnifying-glass"></i>Find More Products</a>
                    <a class="btn btn-outline-danger text" href=""><i class="mr-1 fa-solid fa-cart-plus"></i>Out Of stock</a>
                    <a class="btn btn-outline-dark" href=""><i class="mr-1 fa-solid fa-heart-circle-plus"></i>add to wishlist</a>
                    </div>
                    {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-3">
                <div class="">
                    <h2 class="text-white bg-dark text-center ">{{ product.name }}</h2>
                    <p class="lead mb-0  font-weight-bold text-center bg-danger">Price: £{{ product.price }}</p>
                    {% if product.in_stock %}
                    <p class="mt-1" ><i class="mr-1 fa-solid fa-check text-success "></i> <span>In Stock</span></p>
                {% else %}
                    <p class="text-danger"><i class="mr-1 fa-solid fa-xmark"></i>Out of Stock</p>
                    {% endif %}
                    <p >sku: {{ product.sku }}</p>
                     
                    {% if product.rating %}
                        <p><i class="fas fa-star mr-1 text-warning "></i>Costumer rating: <span class="text-success">{{ product.rating }} / 5</span></p>
                    {% else %}
                        <p class="text-muted">No Rating</p>
                    {% endif %}
                    <!-- quantity -->
                    
                

                    <h3 class="text-center ">Product description</h3>
                    <div class="bg-primary text-white p-2 rounded" >
                        
                    <p class="mt-3">{{ product.description }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}