{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Products {% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">All Products</h2>
                <hr class="w-50 mb-1 bg-danger ">
            </div>
           

        </div>
        <div class="row">
            <div class="col-12 text-center">
            <input type="checkbox" id="available-products">
            <label class="mb-3" for="available-products">Available Products Only</label>
            </div>
        </div>
        <div class="row ">
            <div class="col-10 offset-1 mb-3 lato">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                    {% if product.in_stock %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 in-stock">
                        {% else %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 out-of-stock">
                            {% endif %}
                        <!-- <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"> -->
                            <div class="card product-card h-100 border-bottom ">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}placeholder.avif" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                
                                <div class="card-body  pt-0 border-0 text-left">
                                    {% if product.has_sale %}
                                    <span class="sale-mark text-dark bg-warning">Sale</span>
                                {% endif %}
                                    <h3 class="text-center card-title mt-2 ">{{ product.name }}</h3>
                                    <div class="row">
                                        <div class="col">
                                            <div>
                                            <p class="lead mb-0  font-weight-bold text-center text-warning">£{{ product.price }}</p>
                                            </div>
                                            <div class="row d-flex justify-content-around mt-2">
                                            {% if product.rating %}
                                                <p class="text-white"><i class="fas fa-star mr-1 text-warning "></i>{{ product.rating }} / 5</p>
                                            {% else %}
                                                <p class=" text-white"><i class="fas fa-star mr-1 text-warning "></i>0/5</p>
                                            {% endif %}
                                            {% if product.in_stock %}
                                            <p class="text-warning font-weight-bold" ><i class="mr-1 fa-solid fa-check"></i> In Stock</p>
                                        {% else %}
                                            <p class="text-white font-weight-bold"><i class="mr-1 fa-solid fa-xmark"></i>Out of Stock</p>
                                            {% endif %}
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer p-3 d-flex justify-content-center">
                                    <a href="{% url 'product_detail' product.id %}" class="btn btn-danger text-center btn" aria-label="link to product detail">Product Details</a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                               
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                               
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

