
<div class="toast  border-3 bg-warning border-dark" role="alert" aria-live="assertive" aria-atomic="true" data-delay="{% if count %}10000{% else %}10000{% endif %}">
    
    <div class="toast-header bg-success text-light padding-2  border-3">
        <span class="mr-auto font-weight-bold text-black text-uppercase">Success</span>

        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-danger text-white font-weight-bold">
        {{ message }}
    </div>

    <!-- {% for message in messages %}
    {% if 'favourite' in message %}
        <div class="text-left pl-3 mb-2">
            <p>Current Wishlist:</p>
        </div>
        <div class="toast-scroll-contain">
            {% for item in favourites %}
                <div class="message-item px-2 rounded-0">
                    <div class="row">
                        <div class="col-3">
                            <img class="w-100" src="{{ item.image.url }}">
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.name }}</strong></p>
                            <p class="my-0 small">Price per item: {{ item.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="rounded-0 text-light mt-4">
            <a href="{% url 'user_wishlist' %}" class="btn sensical-text btn-light btn-block rounded-0 w-100">
                <span class="icon">
                    <i class="fa-solid fa-heart"></i>
                </span>
                <span class="text-uppercase sensical-text">View Wishlist</span>
            </a>
        </div>
    {% endif %}
{% endfor %}
 -->

    {% if grand_total and not on_profile_page %}
        <div class=" text-dark py-2">
            <p class="px-3 font-weight-bold">Current Bag Items ({{ count }})</p>
        </div>
        

        <div class="toast-scroll px-3">
            {% for item in bag_items %}
                <div class="row pb-0">
                    <div class="col-3">
                        {% if product.image %}
                            <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                            <img src="{{ MEDIA_URL }}placeholder.avif " alt="No image available for {{ item.product.name }}" class="w-100">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <p class="font-weight-bold">
                            {{ item.product.name }}
                        </p>
                        <p class="">
                            €{{ item.product.price }}
                        </p>
                        <p class="small">
                            Qty: {{ item.quantity }}
                        </p>
                        <p class="small">Price per item: {{ item.product.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row ">
            <div class="col  bg-black">
                <strong>
                    <p class="m-2">
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-right">€{{ total|floatformat:2 }}</span>
                    </p>
                </strong>
                <div class="text-center rounded  m-2">
                    <a href="{% url 'shopping_bag' %}" class="btn btn-danger rounded-0">
                        <span class="text-uppercase  ">view shopping bag</span>
                    </a>
                </div>
                {% if free_shipping_delta > 0 %}
                    <p class="mb-0 p-2 bg-danger shadow-sm text-black text-center">
                        spend <span class="font-weight-bold">€{{ free_shipping_delta }}</span> more for free  shipping!
                    </p>
                {% endif %}

                
            </div>
        </div>
    {% endif %}
</div>